@model Contrato
@{
	ViewData["Title"] = "Detalle Contrato";
	Propietario propietario = ViewBag.Propietario;

}
<div class="w-100 d-flex justfy-content-center align-items-center">



	<div class="d-flex align-items-center  justify-content-center w-100 flex-column">
		<p class="font-weight-bold">Detalle Contrato:</p>
		<div class=" card w-50">

			<div class="">
				<p class="font-weight-bold">Fecha de Inicio: @Model.Fecha_inicio.ToString("dd/MM/yyyy")</p>
			</div>
			<div class="">
				<p>Fecha de Finalizacion: @Model.Fecha_fin.ToString("dd/MM/yyyy")</p>
			</div>
			<div class="">
				<p>Inquilino: @(Model.inquilino.Apellido + " " + Model.inquilino.Nombre)</p>
			</div>
			<div class="">
				<p>Propietario: @(propietario.Apellido + " " + propietario.Nombre)</p>
			</div>
			<div class="">
				<p>Direccion: @Model.inmueble.Direccion</p>
			</div>
			<div class="">
				<p>Coordenadas: @Model.inmueble.Coordenadas</p>
			</div>
			<div class="">
				<p>Precio por mes: @Model.Valor</p>
			</div>
			<div class="">
				<p>Pagos: -/@Model.pagos.Count()</p>
			</div>

		</div>

		<div class=" m-3">
			<a class="btn btn-secondary" asp-action="Index">Volver</a>
		</div>

	</div>

</div>
