@model IEnumerable<Contrato>
@{
    ViewData["Title"] = "Home Page";
}


<div class="row border my-4 rounded bg-white shadow-sm" id="">
    <div class="d-flex flex-row bg-white rounded-top text-white w-100 align-items-center">
        <div class="position-relative mx-1">
            <input class="rounded-pill h6 p-2" placeholder="Dni" id="" name="" type="text">
            <div class="d-flex align-items-center position-absolute end-0 top-50 px-2">
                <i class="fa-solid fa-magnifying-glass fa-xs agrandar" style="color: rgba(0, 0, 0, 0.648);"
                    id="btnSearchUser"></i>
            </div>
        </div>
        <div class="d-flex justify-content-center p-3 w-100 align-items-end flex-column">
            <a asp-action="Registrar" asp-controller="Contrato">
                <i class="fa-solid fa-plus text-dark h4" id=""></i>
            </a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Fecha Inicio/Fin</th>
                <th scope="col">Inquilino</th>
                <th scope="col">Direccion</th>
                <th scope="col">Coordenadas</th>
                <th scope="col">Pagos</th>
                <th scope="col">Modificar</th>
                <th scope="col">Borrar</th>
                <th scope="col">Ver mas</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.IdContrato</th>
                    <td>@(item.Fecha_inicio.ToString("dd/MM/yyyy")+"-"+item.Fecha_fin.ToString("dd/MM/yyyy"))</td>
                    <td>@(item.inquilino.Nombre+" "+ item.inquilino.Apellido)</td>
                    <td>@item.inmueble.Direccion</td>
                    <td>@item.inmueble.Coordenadas</td>
                    <td>@("-/"+(((item.Fecha_fin.Year - item.Fecha_inicio.Year) * 12) + item.Fecha_fin.Month - item.Fecha_inicio.Month))</td>
                    <td>
                        <div class="w-100">
                            <a asp-action="Editar" asp-route-id="@item.IdContrato" title="Editar">
                                <i class="fa-solid fa-pen px-1 text-warning"></i>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="w-100">

                            <a asp-action="Eliminar" asp-route-id="@item.IdContrato" title="Eliminar">
                                <i class="fa-solid fa-circle-minus px-1 text-danger"></i>
                            </a>

                        </div>
                    </td>
                    <td>
                        <div class="w-100">

                            <a asp-action="Detalle" asp-route-id="@item.IdContrato" title="Ver mas">
                                <i class="fa-solid fa-circle-info px-1 text-primary"></i>
                            </a>

                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
