@model IEnumerable<Contrato>

@{
    ViewData["Title"] = "Contratos";
}




<h5 class="m-4 text-center w-100">@ViewData["Title"]</h5>





<div class="row border my-4 mx-5 rounded bg-white shadow-sm">
    <div class="d-flex flex-row bg-white rounded-top text-white w-100 align-items-center">
        <div class="col-lg-6">
            <form id="searchForm" asp-action="BuscarPorDNI" method="get">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="buscar contrato por dni" name="dni">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit" form="searchForm">
                            <i class="fas fa-search"></i> <!-- icono puedo ponerle un texto tambien -->
                        </button>
                    </span>
                </div>
            </form>
        </div>

        <div class="d-flex justify-content-center p-3 w-100 align-items-end flex-column">
            <a asp-action="Registrar" asp-controller="Contrato">
                <i class="fa-solid fa-plus text-dark h4" id=""></i>
            </a>
        </div>
    </div>











    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Fecha Inicio/Fin</th>
                <th scope="col">Inquilino</th>
                <th scope="col">dni inquilino</th>
                <th scope="col">Direccion</th>
                <th scope="col">Coordenadas</th>
                <th scope="col">Pagos</th>
                <th scope="col">Modificar</th>
                <th scope="col">Borrar</th>
                <th scope="col">Ver mas</th>
                <th scope="col">Abonar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.IdContrato</th>
                    <td>@(item.Fecha_inicio.ToString("dd/MM/yyyy") + "-" + item.Fecha_fin.ToString("dd/MM/yyyy"))</td>
                    <td>@(item.inquilino.Nombre + " " + item.inquilino.Apellido)</td>
                    <td>@item.inquilino.Dni</td>
                    <td>@item.inmueble.Direccion</td>
                    <td>@item.inmueble.Coordenadas</td>
                    <td>
                        @item.pagos.Count(p => p.Estado == true)/@item.pagos.Count()
                    </td>
                    <td>
                        <div class="w-100">
                            <a asp-action="Editar" asp-route-id="@item.IdContrato" title="Editar">
                                <i class="fa-solid fa-pen px-1 text-warning"></i>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="w-100">
                            <a asp-action="Eliminar" asp-route-id="@item.IdContrato" title="Eliminar">
                                <i class="fa-solid fa-circle-minus px-1 text-danger"></i>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="w-100">
                            <a asp-action="Detalle" asp-route-id="@item.IdContrato" title="Ver mas">
                                <i class="fa-solid fa-circle-info px-1 text-primary"></i>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="w-100">
                            <a asp-action="Pagos" asp-route-id="@item.IdContrato" title="Ver mas">
                                <i class="fa-solid fa-money-bill px-1 text-success"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
